.ant-menu-title-content:hover {
  color: #14b9e4;
}

.ant-menu-item:hover .anticon {
  color: #14b9e4;
}

.ant-menu-title-content:active {
  color: #14b9e4;
}

.ant-menu-item:active .anticon {
  color: #14b9e4;
}